body {
  font-family: 'Lato';
  font-size: 14px;
  color: #777;
  margin: 0;
  padding: 0; }

nav {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  padding: 15px 18px;
  background-color: #f8f8f8;
  border: thin solid #e7e7e7; }
  nav a {
    color: #777;
    text-decoration: none; }
    nav a:hover {
      color: #333; }
    nav a i {
      margin-right: 6px; }

h1 {
  font-size: 2em;
  text-align: center;
  color: #222; }

.todo-area {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px; }
  .todo-area ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .todo-area ul li {
      padding: 8px;
      margin: 0;
      margin-top: -1px;
      border: thin solid #e7e7e7;
      cursor: pointer; }
      .todo-area ul li:hover {
        color: #333; }

.add-item {
  margin: 20px 0; }
  .add-item input {
    box-sizing: border-box;
    border: thin solid #e7e7e7;
    padding: 8px;
    width: 100%; }
  .add-item button {
    display: none; }

.action-button {
  background-color: #286090;
  border: thin solid #204d74;
  color: #fff;
  font-weight: bold;
  border-radius: 4px; }

@media (max-width: 600px) {
  body {
    font-size: 10px; }

  .add-item input {
    width: 80%; }
  .add-item button {
    display: inline-block;
    width: 15%;
    margin-left: 4%;
    padding: 4px; } }

/*# sourceMappingURL=styles.css.map */
