
$background-color: #f8f8f8;
$border-color:  #e7e7e7;
$font-color: #777;
$header-color: #222;
$hover-color: #333;

$action-background-color: #286090;
$action-border-color: #204d74;
$action-font-color: #fff;