@import 'variables';
body {
    font-family: 'Lato';
    font-size: 14px;
    color: $font-color;
    margin: 0;
    padding: 0;   
}

nav{
	box-sizing: border-box;
	width: 100%;
	text-align: right;
	padding: 15px 18px;
	background-color: $background-color;
    border: thin solid $border-color;

    a{
    	color: $font-color;
    	text-decoration: none;
    	&:hover{
    		color: $hover-color;
    	}

    	i{
    		margin-right: 6px;
    	}
    }
}

h1{
	font-size: 2em;
	text-align: center;
	color: $header-color;
}

.todo-area{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;

	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			padding: 8px;
			margin: 0;
			margin-top: -1px;
			border: thin solid $border-color;
			cursor: pointer;
			&:hover{
				color: $hover-color;
			}
		}
	}
}

.add-item{
	margin: 20px 0;
	input{
		box-sizing: border-box;
		border: thin solid $border-color;
		padding: 8px;
		width: 100%;
	}
	button{
		display: none;
	}
}

.action-button{
	background-color: $action-background-color;
    border: thin solid $action-border-color;
    color: $action-font-color;
    font-weight: bold;
    border-radius: 4px;
}

@media (max-width: 600px) {
	
	body{
		font-size: 10px;
	}

	.add-item{

		input{
			width: 80%;
		}
		button{
			display: inline-block;
			width: 15%;
			margin-left: 4%;
			padding: 4px;
		} 

	}
}